html {
  @include tablets {
    font-size: rem(15px);
  }
  @include phones {
    font-size: rem(13px);
  }
  @include mphones {
    font-size: rem(12px);
  }
}
.wrapper {
  position: relative;
  width: 100%;
  //min-width: rem(940px) + rem(20px);
  min-height: 100%;
  overflow: hidden;
}
.container {
  width: 95%;
  max-width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  // outline: 1px solid #000;
  display: flex;
}
.cont__not-padding{
  padding: 0;
}
.section {
  min-width: 100%;
  min-height: rem(650px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__title {
  font-family: 'Gagalin';
  font-size: rem(70px);
  color: $BlackText;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.section__btn {
  font-family: 'Ubuntu';
  font-size: rem(13px);
  font-weight: 700;
  display: inline-block;
  padding:0 rem(15px);
  background: #e45028;
  color: #fff;
  border-radius: rem(3px);
  text-decoration: none;
  text-transform: uppercase;
  line-height: rem(34px);
  height: rem(34px);
  &:hover {
    background: #c1401e;
  }
}

.nav-section {
  position: fixed;
  width: rem(16px);
  right: rem(40px);
  top: rem(100px);

  &__item {
    margin-bottom: rem(5px);
  }

  &__link {
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    display: block;
    position: relative;
    &::before {
      content: " ";
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      display: block;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__link:hover,
  &__link--active {
    border-color: #fff;
  }

  @include tablets() {
    display: none;
  }
}
