.container {
  width: 940px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  // outline: 1px solid #000;
}
.cont__not-padding{
  padding: 0;
}
.section {
  min-width: 100%;
  min-height: 650px;
  height: 100vh;
}
.section__title {
  font-family: 'Gagalin';
  font-size: 70px;
  color: $BlackText;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
.section__btn {
  font-family: 'Ubuntu';
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  padding:0 15px;
  background: #e45028;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 34px;
  &:hover {
    background: #c1401e;
  }
}
